<div class="page-container">
  <div class="page-header-row">
    <h2 class="page-title">
      {{ pageType === 'approve' ? '✅ อนุมัติการยืม (Approve Requests)' : '🔄 รับคืนครุภัณฑ์ (Return Equipment)' }}
    </h2>
  </div>

  <div class="bg-white p-3 p-md-4 rounded-4 shadow-sm w-100 overflow-hidden" style="box-sizing: border-box;">

    <dx-data-grid [dataSource]="requests" [showBorders]="true" [rowAlternationEnabled]="true" [columnAutoWidth]="true">

      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-search-panel [visible]="true" [width]="300" placeholder="ค้นหา..."></dxo-search-panel>
      <dxo-paging [pageSize]="10"></dxo-paging>

      <dxi-column dataField="user.fullName" caption="ผู้ยืม"></dxi-column>
      <dxi-column dataField="items[0].equipment.name" caption="ครุภัณฑ์"></dxi-column>
      <dxi-column dataField="startDate" caption="วันที่เริ่ม" dataType="date" format="dd/MM/yyyy"
        alignment="center"></dxi-column>
      <dxi-column dataField="endDate" caption="กำหนดคืน" dataType="date" format="dd/MM/yyyy"
        alignment="center"></dxi-column>

      <dxi-column caption="จัดการ" cellTemplate="actionTemplate" [width]="150" alignment="center"></dxi-column>
      <div *dxTemplate="let data of 'actionTemplate'">

        <ng-container *ngIf="pageType === 'approve'">
          <dx-button icon="check" type="success" stylingMode="contained" (onClick)="onApprove(data.data.id)"
            hint="อนุมัติ">
          </dx-button>
          <dx-button icon="close" type="danger" stylingMode="contained" class="ms-2" (onClick)="onReject(data.data.id)"
            hint="ปฏิเสธ">
          </dx-button>
        </ng-container>

        <ng-container *ngIf="pageType === 'return'">
          <dx-button text="Return" icon="revert" type="default" stylingMode="contained"
            (onClick)="onReturn(data.data.id)" hint="คืนของ">
          </dx-button>
        </ng-container>

      </div>
    </dx-data-grid>
  </div>
</div>
