<dx-toolbar class="header-toolbar">
  <dxi-item
    location="before"
    widget="dxButton"
    [options]="{
      icon: 'menu',
      stylingMode: 'text',
      onClick: toggleDrawer.bind(this)
    }"
  >
  </dxi-item>
  <dxi-item location="before" text="Equipment System"></dxi-item>

  <dxi-item location="after">
    <div *dxTemplate>
      <dx-button
        *ngIf="isLoggedIn"
        text="Logout"
        icon="runner"
        stylingMode="text"
        (onClick)="logout()"
      >
      </dx-button>

      <dx-button
        *ngIf="!isLoggedIn"
        text="Login"
        icon="user"
        stylingMode="text"
        (onClick)="goToLogin()"
      >
      </dx-button>
    </div>
  </dxi-item>
</dx-toolbar>

<dx-drawer
  [opened]="isDrawerOpen"
  [position]="'left'"
  [openedStateMode]="'shrink'"
  [revealMode]="'slide'"
  [shading]="false"
  [closeOnOutsideClick]="false"
  template="menuTemplate"
  height="calc(100vh - 50px)"
>
  <div *dxTemplate="let data of 'menuTemplate'" class="drawer-menu">
    <dx-list
      [dataSource]="menuItems"
      [hoverStateEnabled]="true"
      [activeStateEnabled]="true"
      [focusStateEnabled]="false"
      (onItemClick)="onItemClick($event)"
      keyExpr="path"
      selectionMode="single"
      [selectedItemKeys]="selectedKeys"
    >
    </dx-list>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</dx-drawer>
