<dx-toolbar class="header-toolbar">
  <dxi-item location="after">
    <div *dxTemplate>
      <div *ngIf="isLoggedIn" class="user-info">
        <i class="dx-icon-user"></i>
        <span>{{ userName }}</span>
      </div>

      <dx-button
        *ngIf="isLoggedIn"
        text="Logout"
        stylingMode="text"
        (onClick)="logout()"
      ></dx-button>
      <dx-button
        *ngIf="!isLoggedIn"
        text="Login"
        icon="user"
        stylingMode="text"
        (onClick)="goToLogin()"
      ></dx-button>
    </div>
  </dxi-item>
</dx-toolbar>

<dx-drawer
  [opened]="isDrawerOpen"
  [position]="'left'"
  [openedStateMode]="'shrink'"
  [revealMode]="'slide'"
  template="menuTemplate"
  height="calc(100vh - 50px)"
  [shading]="false"
  [closeOnOutsideClick]="false"
>
  <div *dxTemplate="let data of 'menuTemplate'" class="drawer-menu">
    <dx-list
      [dataSource]="menuItems"
      [hoverStateEnabled]="true"
      [activeStateEnabled]="true"
      [focusStateEnabled]="false"
      (onItemClick)="onItemClick($event)"
      keyExpr="path"
      selectionMode="single"
      [selectedItemKeys]="selectedKeys"
    >
    </dx-list>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</dx-drawer>
